# This is Git's per-user configuration file.
[user]
	name = ""
	email = ""
[alias]
	# add
	aa = add -A
	ai = add --interactive
	au = add --update
	
	# branch
	br = branch

	# commit
	ci = commit
	cia = commit --amend
	cian = commit --amend --no-edit	

	# reset/clean
	clean-all = !git reset --hard && git clean -fd

	# checkout
	co = checkout

	# fetch
	fp = fetch --prune

	# log
	lg = log --oneline --graph --decorate --all

	# push
	pfl = push --force-with-lease

	# rebase
	ra = rebase --abort
	rc = rebase --continue
	ri = rebase --interactive
	ro = rebase --onto

	# stash
	sl = stash list
	sp = stash pop
	ss = stash save

	# status
	st = status
[push]
	autoSetupRemote = true
[pull]
	rebase = true
